<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} — Cocoa Choco Chart</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
<link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

  <nav>
    <a class="nav" href="/">Cacao Choco Chart</a>
    <ul>
        <li><a href="/data">Data</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <main>
    {{{body}}}  
  </main>

  <footer>
    Cacao Choco Chart &mdash; Cacao Origins Data Visualization
  </footer>

</body>
</html>
