<div class="bodyContent">
  <h2 class="navHeading">About</h2>
  <div class="aboutGrid">
    <div class="aboutCard">
      <h3>Data</h3>
      <p>Sourced from the Flavors of Cacao Database.</p>
    </div>
    <div class="aboutCard">
      <h3>Origins</h3>
      <p>Information on cacao bean origins is from Dominican Republic, Perú, Ecuador, Venezuela, Madagascar, and many other tropical countries</p>
    </div>
    <div class="aboutCard">
      <h3>Ingredients</h3>
      <p>Information on ingredient combinations are found across the dark chocolate batches of the database.</p>
    </div>
  </div>
</div>
