<div class="homeDiv">
  <h1>Cocoa Choco Chart</h1>
  <p>Exploring dark chocolate through data!</p>
</div>

<div class="homeCards">
  <a class="card" href="/data">
    <div class="dataCard">
        <h3>Data</h3>
        <p>Ingredient combinations, bean origins, and flavor profiles visualized</p>
    </div>
  </a>
  <a class="card" href="/history">
    <div class="historyCard">
        <h3>History</h3>
        <p>The story of cacao from ancient cultivation to modern craft chocolate</p>
    </div>
  </a>
  <a class="card" href="/about">
    <div class="aboutCard">
        <h3>About</h3>
        <p>About this project and the dataset behind it</p>
    </div>
  </a>
</div>